@charset "utf-8";
/* CSS Document */
html{ overflow-y:scroll;}
body,h1,h2,h3,h4,h5,h6,hr,div,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,input,textarea,form,th,td{margin:0;padding:0;}
body{ font-size:12px;}
body,select,textarea,th,td{font-family:Tahoma,Arial,Helvetica,STHeiti;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;}
caption,th{ text-align:left;}
small{font-size:100%;}
dl,dt,dd,ul,ol,li{list-style:none;}
a{text-decoration:none;}
abbr,acronym{border:0;font-variant:normal;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
q:before,q:after{content:'';}
/*:{outline:0;}*/
fieldset{border:none;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit; outline:none;}
input,button,textarea,select{*font-size:100%; outline:none;resize:none; padding:0;}
button::-moz-focus-inner {  border:none; }
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
img{ -ms-interpolation-mode:bicubic; border:none; vertical-align:middle;}
textarea{ overflow-y: scroll}
object,embed{ outline:none;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}

body{ color:#333; font-size:12px;background:#f4f4f4; }


a{ color:#1284c6;}
.blue{ color:#3a88f3;}
.red{ color:#cc0000;}
.yellow{ color:#f60;}
.gray{ color:#999;}
.green{ color:#26a604;}

/*input*/
input.text,textarea.text{ border:1px #aeaeae solid; padding:3px;  line-height:16px; width:300px; vertical-align:middle; overflow:auto;}
input.text{height:20px;}
input.disabled { border: none; padding: 0px;}
input.write{ border:1px #099dca solid;}

/*btn*/
.btn, .btn span,.btn_g, .btn_g span,.btn_download{background:url(../img/btn.png) left -128px no-repeat;  height:31px; line-height:30px; display:inline-block; color:#fff;  padding-left:30px;}
.btn span{ background-position:right -128px; padding:0 30px 0 0;}
.btn_g{ background-position:left -128px; color:#006699;}
.btn_g span{ background-position:right -128px; color:#006699; padding:0 30px 0 0;}
.btn_code{background:url(../img/btn.png) -128px -64px no-repeat; display:inline-block; width:101px; height:26px; line-height:25px; text-align:center; color:#fff;}
.btn_download{ background-position:-256px -64px; width:90px; padding-left:15px;}
.btn_blue{background:url(../img/btn.png) -128px -96px no-repeat; display:inline-block; width:74px; height:22px; line-height:22px; text-align:center; color:#333;}

.btn_first,.btn_reg{background:url(../img/btn.png) left -64px no-repeat; text-align:center; color:#fff; display:inline-block; width:119px; height:32px; line-height:30px;}
.btn_reg{ background-position:left -96px; font-weight:bold; height:27px; line-height:27px;}

/*icon*/
.icon_v,.icon_person,.icon_y,.icon_n{background:url(../img/icon2.png) no-repeat; display:inline-block; width:16px; height:16px; vertical-align:middle; }
.icon_person{ background-position:left -32px;}
.icon_y{ background-position:left -256px;}
.icon_n{ background-position:left -288px;}

/*icon*/
.icon_suc,.icon_error,.icon_suc_b,.icon_error_b,.icon_date,.icon_server{ background:url(../img/icon.png) no-repeat; width:18px; height:15px; display:inline-block; vertical-align:middle; margin-right:10px;}
.icon_suc{ background-position:left -192px; width:16px; height:16px; margin:0;}
.icon_error{ background-position:left -224px; width:16px; height:16px; margin:0;}
.icon_suc_b{ background-position:left -320px; width:45px; height:45px;}
.icon_error_b{ background-position:left -416px; width:45px; height:45px;}
.icon_date{ background-position:left -576px; width:16px; height:16px;}
.icon_server{ background-position:left -608px; height:17px;}

.cell_form{ }
.cell_form .col_1{ width:160px;}
.cell_form .col_2{ width:190px;}
.cell_form td{ padding:5px;vertical-align:top;}
.cell_form .tdtitle{  text-align:right;display:block; padding-right:10px; line-height:25px;}
.cell_form .tdtitle .red{ margin-right:5px;}
.cell_form .action{  line-height:25px;}
.cell_form .action .item label{ margin:0 20px 0 5px;}
.cell_form .tips{ color:#999; line-height:25px;}
.cell_form .error_tips{ color:#cc0000;padding:5px 0; }
.cell_form select{ border:1px solid #AEAEAE; height:24px; line-height:24px; width:180px;}
.cell_form input.code{ width:75px; margin-right:5px;}

.cell_form .img_code{ font-size:12px;}
.cell_form .agreen_tips{ margin:12px 0 0 165px ;}
.cell_form .agreen_tips input,.cell_form .agreen_tips label{ vertical-align:middle; margin-right:5px;}
.cell_form .btn_box{ margin:25px 0 0 165px; _margin:25px 0 0 175px}
.cell_form .btn_box .link{  margin-left:20px;}
.cell_form .psw_1,.cell_form .psw_2,.cell_form .psw_3{ background:url(../img/psw.png) no-repeat; width:174px; height:27px; display:inline-block;position:relative;top:5px;}
.cell_form .psw_2{ background-position:left -32px;}
.cell_form .psw_3{ background-position:left -64px;}
.cell_form .num_link{ font-size:12px; margin-left:10px;}

.cell_error_font{ color:#cc0000;}
.cell_tips{ margin-bottom:25px; font-size:14px;}
.cell_tips_box{background:url(../img/icon.png) left -255px no-repeat;padding-left:20px; line-height:1.5;}
.cell_suc,.cell_error{ line-height:1.5; background:url(../img/pop_icon.png) no-repeat; padding:5px 0 15px 40px;font-size:16px;}
.cell_error{ background-position:left -96px; padding-top:0; padding-bottom:30px;}
.cell_suc .txt{ padding-left:10px;}
.cell_error{ color:#cc0000; }
.cell_notice{ padding:20px 0; line-height:1.6; color:#898989;}
.cell_notice strong{ color:#000; font-weight:normal;}

.cell_error_tips{background:url(../img/icon.png) left -224px no-repeat; color:#d60303; font-size:12px; padding-left:20px; margin-top:5px;}
.cell_b_tips{ position:absolute; left:10px; bottom:10px;}

.cell_table table{ border-top:1px #d0d0d0 solid;border-left:1px #d0d0d0 solid; color:#333;}
.cell_table th,.cell_table td{border-bottom:1px #d0d0d0 solid;border-right:1px #d0d0d0 solid; padding:5px 10px;}
.cell_table th{ font-weight:bold; background:#e8f7e1;  }
.cell_table th.col{ padding:0;}
.cell_table th table{ border:none;}
.cell_table td .num{display:block; width:50px; overflow:hidden;margin:0 auto;}
.cell_table th td{ padding:2px 0; border:none;word-wrap:break-word; word-break:break-all; display:block;}
.cell_table th td.msg{border-bottom:1px #d9d9d9 solid; text-align:center;}
.cell_table th td.suc{border-right:1px #d9d9d9 solid;}
.cell_table th td .num{ display:block; width:60px; overflow:hidden; text-align:center; margin:0 auto;}
.cell_table a{ margin:0 5px;}
.cell_table .info{ position:relative;}
.cell_table .tips{ background:url(../img/tipsbg.png) no-repeat; display:none; position:absolute; left:0; top:15px; width:390px; height:25px; padding:5px 10px 0;}
.cell_table tr.hover{ background:#e3f2f4;}
.cell_table tr.hover .tips,.cell_table tr:hover .tips{ display:block;}
.cell_table .col_1{ width:30%;}
.cell_table .col_2{ width:20%;}
.cell_table .col_3{ width:15%;}
.cell_table .col_4{ width:20%;}
.cell_table .col_5{ width:15%;}
.cell_table .col_6{}

.cell_page{ text-align:right; margin:10px 0;}
.cell_page a{ margin:0 5px;}
.cell_page .cur{ font-weight:bold; color:#111; margin:0 5px;}

.cell_msg {margin: 0 0 -10px;padding-left: 165px;text-align:left;height:20px; font-size:14px;}

.cell_search{ background:#eff6fa; padding:10px; border:1px #dbebf7 solid; margin-top:-17px;}
.cell_search:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.cell_search label{ line-height:28px;}
.cell_search input.text{ border:1px #b2b2b2 solid; padding:3px; height:20px; line-height:20px; width:210px; margin-right:30px;}
.cell_search input.text2{ width:150px;}
.cell_search select{ width:180px; height:26px; line-height:26px;border:1px #b2b2b2 solid; vertical-align:middle;}
.cell_search select.select2{ width:120px; margin-right:15px;}
.cell_search select.select3{ width:100px; margin-right:10px;}
.cell_search .date_box_icon{}
.cell_search .item{ display:inline-block; width:800px; position:relative;}
.cell_search .item label{display:inline-block; width:110px; text-align:right; vertical-align:middle;}
.cell_search .item select{ width:165px;}
.cell_search .item input.text{ width:158px;}
.cell_search .item_2{ z-index:1;}
.cell_search .btn{ float:right; margin-right:30px;}
.cell_search .link{ float:right; margin-right:50px;}
.cell_search .list{ padding:5px 0 8px; position:relative;zoom:1;}
.cell_search .list:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.cell_search .list .date_box{ position:absolute; left:74px; top:26px; border:1px #b2b2b2 solid; background:#fbfbfc; padding:5px; width:154px; font-size:12px;}
.cell_search .list .date_box .inner{ position:relative;}
.cell_search .list .date_box .close{ font-size:16px; color:#666; position:absolute; right:0;_right:3px; top:-5px;}
.cell_search .list .date_box .date{ padding-top:10px;}
.cell_search .list input.text{ margin-right:0;}
.cell_search .select_box{ border:1px #7f9db9 solid; background:#fff; display:inline-block; height:22px; line-height:22px; width:165px; position:relative; z-index:2; vertical-align:middle;}
.cell_search .select_box .select_icon{ background:url(../img/select.png) no-repeat; width:15px; height:18px; position:absolute; right:2px; top:2px; display:block;}
.cell_search .item .select_box input.text{ width:140px; border:none; background:none;}
.cell_search .select_box .list_box{border:1px #7f9db9 solid; background:#fff; display:block; position:absolute; top:22px; left:-1px; width:165px;}
.cell_search .select_box .list_box .box{ padding:5px 10px;}
.cell_search .select_box .list_box .box ul.menu{ background:url(../img/tree2.png) 5px top repeat-y;}
.cell_search .select_box .list_box .box ul.menu ul{background:url(../img/tree1.png) left bottom repeat-y; padding-left:15px; display:none; margin:0 0 10px 20px;}
.cell_search .select_box .list_box .box ul.menu ul li{ margin-top:5px;}
.cell_search .select_box .list_box  input,.cell_search .select_box .list_box  label{ display:inline-block; vertical-align:middle;}
.cell_search .select_box .list_box  label{ line-height:1.2; text-align:left; width:auto;}
.cell_search .icon_fold{background:url(../img/select.png) left -64px no-repeat; width:9px; height:9px; display:inline-block;}
.cell_search .select_box .list_box .box ul.menu li.unfold ul{ display:block;}
.cell_search .select_box .list_box .box ul.menu li.unfold .icon_fold{ background-position:left -32px;}
.cell_search .select_box .date_box_icon{ position:absolute; right:4px; top:3px;}
.cell_search .list_2 .item{ width:227px;}
.cell_search .list_2 .item select{ width:120px;}
.cell_search .list_2 input.text{ width:115px;}
.cell_search .list_2 .link{ margin-top:8px;}
.cell_search .list_3 .item{ width:190px;}
.cell_search .list_3 .item select{ width:100px;}
.cell_search .list_3 input.text{ width:100px;}
.cell_search .list_4 .item{ width:100px; margin-left:39px;}
.cell_search .list_5 .item{ width:auto;}
.cell_search .list_4 .item input,.cell_search .list_5 .item input{ vertical-align:middle; display:inline-block;}
.cell_search .list_4 .item label,
.cell_search .list_5 .item label{ display:inline-block; vertical-align:middle; margin:0 10px 0 5px; text-align:left; width:auto; line-height:16px;}

.cell_search .list .item .title{font-size:14px;}
.cell_search .list .item .option{display:inline-block;}
.cell_search .list .item .option label{text-align:left;}




.header{ padding:20px 0 10px;}
.header .inner{ width:960px; margin:0 auto; zoom:1;}
.header .inner:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.header .logo{ background:url(../img/logo.png) no-repeat; width:425px; height:32px; display:block;}
.header .info{ float:right; color:#616161; margin-top:15px;}
.header .info .faq{ margin-right:5px;}
.header .info .icon_person{ margin:0 3px 0 5px;}
.header .info a{ margin:0 3px;}
.header .info .pas_info{ position:relative; display:inline-block; height:26px; *vertical-align: text-top;}
.header .info .passport,.header .info .exit{display:inline-block; vertical-align:middle;}
.header .info .pas_info .list{ border:1px #848484 solid;  background:#fff; position:absolute; right:0; top:27px; width:95px; display:none;}
.header .info .pas_info .list a{ display:block; padding:5px 10px; margin:0 -3px; }
.header .info .pas_info .list a.exit{ margin:0;}
.header .info .pas_info .list a:hover{ background:#b6d8ae; color:#2e362c;}
.header .info .pas_info .list .part{ border-bottom:1px #848484 dashed; display:block; margin:0 3px 3px;}

.top_nav{ background:url(../img/headerbg.png) repeat-x; height:37px;}
.top_nav_2{ background:url(../img/headerbg2.png) repeat-x;}
.top_nav .nav{ width:90%; margin:0 auto; padding-top:2px;}
.top_nav .nav a{ margin-right:1px; float:left;}
.top_nav .nav a,.top_nav .nav a span{background:url(../img/btn.png) left top no-repeat; display:inline-block; height:29px; line-height:29px; padding-left:20px; color:#333; cursor:pointer;}
.top_nav .nav a span{ background-position:right top; padding:0 20px 0 0; text-shadow:1px 1px 1px #fff;}
.top_nav .nav a.cur{ background-position:left -32px;}
.top_nav .nav a.cur span{ background-position:right -32px; padding:0 30px 0 0; font-weight:bold;}

.main{ background:#fff; border-bottom:1px #d9d9d9 solid; overflow:hidden;}
.main .content{ margin:0 auto; width:95%; zoom:1; min-height:500px;_height:500px;}
.main .content:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.main .container{ width:595px; float:left; padding-top:30px;}
.main .side_list{ width:265px; float:right; padding-top:30px;}
.main .loading{margin-top: 100px;margin-left:-35%;}
.main .main_con{ width:610px; float:left; padding:35px 0;}
.main .side_tips{ width:297px; float:right; padding:30px 0;}

.main .main_first{ width:630px; float:left; padding:35px 0;}
.main .side_reg{ width:250px; float:right; padding:30px 0;}

.mod_first_use h2.title{font-size:16px; color:#333; border-bottom:1px #333 dashed; padding:10px 0;}
.mod_first_use .info{ padding-top:20px; line-height:1.8;}
.mod_first_use .icon_why{background:url(../img/icon2.png) left -448px no-repeat; width:16px; height:20px; display:inline-block;}
.mod_first_use .tips_box{ position:relative; display:inline-block;}
.mod_first_use .tips_box .txt{ color:#666; border-bottom:1px #666 dotted; cursor:pointer;}
.mod_first_use .tips_box .tips{ position:absolute; left:0; top:23px; display:none;}
.mod_first_use .tips_box .tips .info{ position:relative; border:1px #ebd055 solid; background:#ffe57c; padding:0 5px; color:#8d600b; display:block;}
.mod_first_use .tips_box .tips .arrow{background:url(../img/icon2.png) left -480px no-repeat; width:9px; height:6px; display:block; position:absolute; top:-5px; left:26px;}
.mod_first_use .btn_qes{background:url(../img/btn.png) left -192px no-repeat; width:76px; height:25px; display:inline-block; vertical-align:middle;}

.mod_reg_2{ background:url(../img/reg2.jpg) no-repeat; height:427px; padding:57px 0 0 65px;}



.mod_pro .cell_table .col_1{width:150px;}
.mod_pro .cell_table .col_2{width:150px;}
.mod_pro .cell_table .col_3{width:130px;}
.mod_pro .cell_table a.link{ font-weight:bold;}

.mod_first{ background:url(../img/tipsbg2.png) no-repeat; height:106px; padding:20px;}
.mod_first .info{ font-size:14px; line-height:1.5;}

.mod_home_tips{ background:url(../img/sidebg.png) no-repeat; height:247px; padding:15px 15px 15px 30px;}
.mod_home_tips h3.title{ color:#333;line-height:1.5;}
.mod_home_tips .info{ line-height:1.5; margin:0 0 10px 10px; color:#666;}

.mod_regist{ margin:40px 2px; height:178px; position:relative;}
.mod_regist .reg{ position:absolute; right:10px; bottom:5px; font-size:14px; font-family:"microsoft yahei";}

.mod_list h2.title{ font-size:14px; font-weight:normal; border-bottom:1px #009ada solid; padding-bottom:5px; margin-bottom:10px;}
.mod_list .list{ padding-left:10px;}
.mod_list .list h3{ font-size:14px; margin-bottom:5px;background:url(../img/icon2.png) left -61px no-repeat; background-position:left -64px\9; padding-left:22px; font-weight:normal;}
.mod_list .list h3.oa{ background-position:left -93px;background-position:left -96px\9;}
.mod_list .list h3.msg{ background-position:left -125px;background-position:left -128px\9;}
.mod_list .list .info{ padding-left:22px; line-height:2; margin-bottom:30px;}


.footer{ width:970px; margin:0 auto;}

/*mod_reg*/
.mod_reg h2.title{font-size:13px; border-bottom:1px #333 dotted; padding-bottom:10px; margin-top:20px; }
.mod_reg h2.title .txt{ font-size:12px; font-weight:normal; color:#999; margin-left:10px;}
.mod_reg .cell_form{ padding:20px 0;}

.sidebar{ width:200px; float:left; background:#e5f1f3; border-top: 1px #bdd0d2 solid; border-left:1px #bdd0d2 solid;border-right:1px #bdd0d2 solid; padding-bottom:5000px; margin-bottom:-5000px;}
.sidebar .menu li{ border-bottom:1px #bdd0d2 solid; position:relative; _zoom:1;}
.sidebar .menu li a{border-top:1px #fff solid; display:block; padding:0 10px 0 30px; height:28px; line-height:28px; color:#000;_zoom:1;}

.sidebar .menu li .arrow{background:url(../img/icon2.png) left -224px no-repeat; display:none; width:10px; height:15px; position:absolute; right:-2px;_right:-3px; top:7px;}
.sidebar .menu li.fold a,.sidebar .menu li.unfold a{background:url(../img/icon2.png) left -311px no-repeat; padding-left:30px;}
.sidebar .menu li.unfold a{background:url(../img/icon2.png) left -374px no-repeat;}
.sidebar .menu li.cur .arrow{ display:block;}
.sidebar .menu li.cur a{ background-color:#cde4f2; font-weight:bold;}
.sidebar .menu li ul.sub{ background:#f0fcfd; display:none;}
.sidebar .menu li ul.sub li{border-top:1px #bdd0d2 solid; border-bottom:none;}
.sidebar .menu li ul.sub li a{ background-image:none; padding-left:40px;}
.sidebar .menu li.unfold ul.sub{ display:block;}
.sidebar .menu li ul.sub li.fold a{background-image:url(../img/icon2.png); background-position: 15px -311px; background-repeat:no-repeat;}
.sidebar .menu li ul.sub li.unfold a{background-image:url(../img/icon2.png); background-position: 15px -374px;background-repeat:no-repeat;}
.sidebar .menu li ul.sub li .arrow{ display:none;}
.sidebar .menu li ul.sub li.cur .arrow{ display:block;}
.sidebar .menu li.cur ul.sub li a{background-color:#f0fcfd; font-weight:normal;}
.sidebar .menu li.cur ul.sub li.cur a{background-color:#cde4f2; font-weight:bold;}
.sidebar .menu li ul.sub li .sub2{ background:#ebf6e8; display:none;}
.sidebar .menu li ul.sub li.unfold .sub2{ display:block;}
.sidebar .menu li ul.sub li.unfold .sub2 li a{ background-image:none; padding-left:50px;}


.main_content{ width:758px; float:right; min-height:700px;_height:700px;}
.main_content h2.title,.mod_iframe h2.title{ font-size:16px; border-bottom:1px #333 dotted; padding-bottom:10px; margin-bottom:20px; _position:relative;}
.mod_iframe{ padding:20px 0 20px 40px; background:#fff;}

.main_server .sidebar{background:#ebf6e8; width:200px;}
.main_server .sidebar .menu li .arrow{background:url(../img/icon2.png) left -192px no-repeat;}
.main_server .sidebar .menu li.cur a{ background-color:##B6D8AE;}
.main_server .sidebar .menu li ul.sub{ background:#f8fff6;}
.main_server .sidebar .menu li ul.sub li{border-top:1px #e0ece8 solid;}
.main_server .sidebar .menu li.cur a{ background-color:#b6d8ae;}
.main_server .sidebar .menu li.cur ul.sub li a{background:#f8fff6; font-weight:normal;}
.main_server .main_content{ width:758px;}
.main_server .main_content .loading{margin-top: 170px;margin-left:30%;position:absolute;}

/*mod_user_box*/
.mod_user_box{ }
.mod_user_box .line{ background:#ececec; height:1px; margin:15px 0;}
.mod_user_box .cell_form .action{ font-size:12px;}
.mod_user_box .cell_form .num{ display:inline-block;  font-weight:bold; font-size:14px; color:#f26522;}
.mod_user_box .cell_form .col_1{ width:180px;}
.mod_user_box .cell_form .col_2{ width:100px;}
.mod_user_box .cell_form .title{ font-weight:normal;}
.mod_user_box .cell_form .cell_tips_box{ line-height:25px; background-position:left -251px; }
.mod_user_box .cell_form .cell_tips_box strong{ font-weight:normal;}
.mod_user_box .cell_form .error_tips{ padding:0; line-height:25px;}

/*mod_pay*/
.mod_pay{}
.mod_pay h3{ font-size:14px;}
.mod_pay .tips_txt{ font-size:14px;}
.mod_pay .tab_box{ margin:20px 0 0;  }
.mod_pay .tab_box .item{ margin-right:50px;}
.mod_pay .tab_box label,.mod_pay .tab_box input{ display:inline-block; vertical-align:middle; margin-right:3px;}

.mod_pay .list_box{ padding:30px 0;}
.mod_pay .list{ zoom:1;}
.mod_pay .list:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.mod_pay .list li{ width:150px; height:32px; float:left; margin:0 28px 15px 0;}
.mod_pay .list li input,.mod_pay .list li img{ vertical-align:middle;}
.mod_pay .list li img{ margin-left:5px;}
.mod_pay .pay_box{ margin-bottom:20px; }
.mod_pay .pay_box label{ }
.mod_pay .pay_box select{ width:100px; margin-right:30px;}
.mod_pay .pay_box input.text{ width:100px;}

/*mod_deal*/
.mod_deal{}
.mod_deal .pay_box{padding-bottom:20px; border-bottom:1px #ececec solid;}
.mod_deal .pay_box .item{ display:inline-block; margin:0 20px 10px 0; width:240px;}
.mod_deal .pay_box select{ width:120px;  margin-right:5px;}
.mod_deal .pay_box input.text{ width:100px;}
.mod_deal .pay_box .btn{ vertical-align:middle;}
.mod_deal .list_box{ padding:10px;}
.mod_deal .list_box .nums{ margin-bottom:5px;zoom:1;}
.mod_deal .list_box .nums:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.mod_deal .list_box .nums .download{ }
.mod_deal .cell_table th.num,.mod_deal .cell_table td.num{ text-align:right;}

/*mod_sub_passport*/
.mod_sub_passport{}
.mod_sub_passport .cell_form{ padding:20px 0 30px; border-bottom:1px #cacaca solid; margin-bottom:20px;}
.mod_sub_passport .tips2 {margin: 20px 0 -10px;padding-left: 165px;text-align: left;}

/*mod_key_manage*/
.mod_key_manage{}
.mod_key_manage .txt{ font-size:14px; margin-bottom:10px;}
.mod_key_manage .cell_table{ margin-bottom:20px;}
.mod_key_manage .cell_table .col_1{ width:10%;}
.mod_key_manage .cell_table .col_2{ width:20%;}
.mod_key_manage .cell_table .col_3{ width:15%;}
.mod_key_manage .cell_table .col_4{ width:15%;}
.mod_key_manage .cell_table .col_5{ width:20%;}
.mod_key_manage .cell_table .col_6{}

/*mod_key_use*/
.mod_key_use{}

/*mod_key_creat*/
.mod_key_creat{}
.mod_key_creat .txt{ margin-bottom:10px; line-height:1.5;}
.mod_key_creat .item{ display:inline-block; margin:0 10px 0 0;}
.mod_key_creat .item label,.mod_key_creat .item input{ vertical-align:middle; display:inline-block; margin-right:3px;}
.mod_key_creat .item select{ width:80px;}
.mod_key_creat .cell_form .tips{ color:#333;}
.mod_key_creat input.text{ width:200px;}
.mod_key_creat textarea.text{ width:200px; float:left; height:60px; overflow:auto;border:1px #aeaeae solid; padding:3px;}
.mod_key_creat .item2{zoom:1; margin:20px 0;}
.mod_key_creat .item2:after{ clear:both; display:block; height:0; content:""; visibility: hidden;}
.mod_key_creat .item2 label.title{ width:200px; float:left;}
.mod_key_creat .submit{ margin-top:20px;}

/*mod_creat_suc*/
.mod_creat_suc{}
.mod_creat_suc .txt{ margin-bottom:10px; line-height:1.5;}
.mod_creat_suc .form_box .item{ margin-bottom:10px;}
.mod_creat_suc .form_box label.title{ display:inline-block; width:150px; text-align:right;}
.mod_creat_suc .form_box .info{ display:inline-block;}

/*mod_faq*/
.mod_faq{ padding:30px 0; line-height:1.5;}
.mod_faq h2.title{ font-size:14px; color:#333; padding-bottom:10px; border-bottom:1px #333 dashed;}
.mod_faq h3{ padding:10px 0;}
.mod_faq .info{ padding-bottom:10px;}

/*mod_woa*/
.mod_woa h3{ font-size:14px;}
.mod_woa .info{ padding:10px 0 20px; line-height:1.8;}
.mod_woa .info .txt{ display:inline-block; width:200px;}
.mod_woa .scroll_box{zoom:1;}
.mod_woa .scroll_box:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.mod_woa .scroll_box .pre_btn,.mod_woa .scroll_box .next_btn{ background:url(../img/icon2.png) left -512px no-repeat; display:block; float:left; width:17px; height:38px; margin-top:90px;}
.mod_woa .scroll_box .next_btn{ background-position:left -576px;}
.mod_woa .scroll_box .pic_box{ float:left; width:656px; height:187px; overflow:hidden; margin:0 3px; position:relative;}
.mod_woa .scroll_box .pic_box img{ border:1px #acacad solid;}
.mod_woa .scroll_box .pic_box .small_1,.mod_woa .scroll_box .pic_box .small_5{ height:100px; position:absolute; top:50px; z-index:1;}
.mod_woa .scroll_box .pic_box .small_1{ left:0;}
.mod_woa .scroll_box .pic_box .small_5{ right:0;}
.mod_woa .scroll_box .pic_box .small_2,.mod_woa .scroll_box .pic_box .small_4{ height:120px; position:absolute; top:40px; z-index:1}
.mod_woa .scroll_box .pic_box .small_2{ left:50px;}
.mod_woa .scroll_box .pic_box .small_4{ right:50px; z-index:2}
.mod_woa .scroll_box .pic_box .small_3{ height:150px; position:absolute; left:200px;top:20px; z-index:3}
.mod_woa .scroll_box .pic_box .big{ height:180px; position:absolute; z-index:4; top:0;}
.mod_woa .cell_form .col_1{ width:100px;}
.mod_woa .cell_form .col_2{ width:320px;}
.mod_woa .cell_form textarea.text{ width:300px; height:80px; overflow:auto;}
.mod_woa .cell_form .btn_box{ margin-left:100px;}

.mod_woa h3 a{ display:inline-block; color:#333; width:160px; height:28px; line-height:27px; text-align:center; outline:none;}
.mod_woa h3.fold a{ background:url(../img/btn.png) -96px -192px no-repeat;}

.mod_woa .tips_box{ width:330px; margin:30px auto;}
.mod_woa .tips_box .cell_error,.mod_woa .tips_box .cell_suc{ font-size:14px; margin-bottom:20px;}
.mod_woa .tips_box .cell_suc{ font-weight:bold;}
.mod_woa .tips_box .btn{ float:left; margin-left:45px;}
.mod_woa .tips_box .link{ width:118px; float:right; margin-right:20px;}
.mod_woa .confirm_box .cell_form .col_1{ width:170px;}
.mod_woa .confirm_box .cell_form .col_2{ width:200px;}
.mod_woa .confirm_box .cell_form .btn_box{ margin-left:175px;}
.mod_woa .step_box{ background:url(../img/stepbg.png) no-repeat; height:46px;}
.mod_woa .step_box .step{ font-size:14px; font-weight:bold; padding:12px 0; width:150px; float:left; text-align:center; display:block; color:#335e29;}


.mod_source{}
.mod_source .list_box{zoom:1;}
.mod_source .list_box:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.mod_source .list_item{ width:155px; float:left; border:1px #bdd0d2 solid; background:#f8fff6; padding:10px;}
.mod_source .list_item a{ color:#333;}
.mod_source .list_item .title{ font-weight:bold; margin-bottom:10px;}
.mod_source .list_item .title a{ font-weight:normal; color:#1284c6;}
.mod_source .list_item li{ margin-bottom:10px;}
.mod_source .list_item li li{ padding-left:10px; margin-bottom:0; line-height:1.8;}
.mod_source .list_item li li li{ padding-left:20px; }

.mod_source .list_box .info{ width:500px; float:right; line-height:1.5;}
.mod_source h3{ margin:20px 0; font-size:14px;}
.mod_source h3 a,.mod_source h4 a{ color:#333;}
.mod_source h4{ margin-bottom:10px; font-weight:normal;}
.mod_source .table_box{ padding-bottom:20px;}
.mod_source .table_box table{ border-left:1px #797979 solid;border-top:1px #797979 solid; margin-bottom:10px;}
.mod_source .table_box table td{ border-right:1px #797979 solid;border-bottom:1px #797979 solid; padding:5px; line-height:1.5;}
.mod_source .table_box table td a{ color:#333;}
.mod_source .table_box table td a.download{ color:#1284c6;}

.bigcur,.smallcur{ background:url(../img/zoom.png) left -64px no-repeat; width:26px; height:26px; display:block; position:absolute; right:0; bottom:0; z-index:2;} 
.smallcur{ background-position:left -96px;z-index:5;}

.mod_standard .tips{ margin:10px 0 30px;}
.mod_standard .box .tab_box{ position:relative; height:35px;}
.mod_standard .box .tab{ position:absolute; top:1px;}
.mod_standard .box .tab a{ background:url(../img/tab.png) left 6px no-repeat; padding-top:6px; height:29px; line-height:29px; width:104px; text-align:center; display:block; float:left; color:#333; margin-left:-3px; outline:none;}
.mod_standard .box .tab a.cur{ background-position:left -64px; font-weight:bold;}
.mod_standard .box .tab a.first{ margin:0;}
.mod_standard .box .con_box{ border:1px #bdd0d2 solid; color:#000; min-height:500px;_height:500px;}
.mod_standard .box .con_box p.title{ margin:0 0 20px; font-weight:bold;line-height:2;}
.mod_standard .box .con_box .info{ line-height:2;}
.mod_standard .box .con_box .info .list li{ list-style:decimal; margin-left:20px;}
.mod_standard .box .con_box .details{ width:510px; float:left; margin-right:20px;}
.mod_standard .box .con_box .item{zoom:1; border-bottom:1px #bdd0d2 solid; padding:20px;}
.mod_standard .box .con_box .item:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.mod_standard .box .con_box .pic_box{ width:135px; position:relative; height:210px; float:left; z-index:0}
.mod_standard .box .con_box .pic{ position:absolute; right:0; top:0; z-index:1;}
.mod_standard .box .con_box .pic img{ width:135px;}
.mod_standard .box .con_box .pic_big{ z-index:4;zoom:1;}
.mod_standard .box .con_box .pic_big img{ width:274px;}
.mod_standard .box .con_box .smallcur{  bottom:-220px;}
.mod_standard .box .con_box .last,.mod_standard .box .con_box .item_3{ border:none;}
.mod_standard .box .con_box .item_2 .details,.mod_standard .box .con_box .last .details{ width:420px;}
.mod_standard .box .con_box .last .pic_box{width:235px; height:219px;}
.mod_standard .box .con_box .last .pic img{ width:235px;}
.mod_standard .box .con_box .last .pic_big img{ width:671px;}
.mod_standard .box .con_box .last .pic_big{ top:-404px;}
.mod_standard .box .con_box .last .smallcur{  bottom:0;}
.mod_standard .box .info table{ border-left:1px #bebebe solid; border-top:1px #bebebe solid;}
.mod_standard .box .info td,.mod_standard .box .info th{border-right:1px #bebebe solid; border-bottom:1px #bebebe solid;}
.mod_standard .box .info td,.mod_standard .box .info th{ padding:0 10px;}
.mod_standard .box .info th{ background:#e5e5e5;}

.mod_framework .txt{ margin-bottom:20px;}
.mod_framework .box{ line-height:2;}
.mod_framework .pic{ padding:20px 0;}

.mod_server_intro h3{ font-size:14px; margin:10px 0;}
.mod_server_intro .info{ line-height:2; margin-bottom:50px;}
.mod_server_intro .info strong{ font-size:14px;}
.mod_server_intro .info .pic{ margin-top:20px;}

.mod_data_download h3{ font-size:14px; margin:10px 0;}
.mod_data_download h4{ margin:10px 0;}
.mod_data_download .info{ line-height:2; margin-bottom:50px; word-wrap:break-word;}
.mod_data_download .table_box table{ border-left:1px #797979 solid;border-top:1px #797979 solid;}
.mod_data_download .table_box table td,.mod_data_download .table_box table th{ border-right:1px #797979 solid;border-bottom:1px #797979 solid; padding:5px; line-height:1.5;}
.mod_data_download .table_box table th{ background:#bcbcbc;}

.mod_result{ padding:20px 0;}
.mod_result h3.title{ font-size:14px; }
.mod_result .result_box{ padding:20px 0 0; border-bottom:1px #999 solid; min-height:260px;_height:260px; margin-bottom:10px;}
.mod_result .cell_table{ margin-bottom:10px;}
.mod_result .cell_table th,.mod_result .cell_table td{ text-align:center;}
.mod_result .cell_table .col_1{ width:150px;}
.mod_result .cell_table .col_2{ width:130px;}
.mod_result .cell_table .col_3{ width:130px;}
.mod_result .cell_table .col_4{ width:130px;}
.mod_result .cell_table .col_5{ }
.mod_result .select_action{ padding:10px 0; text-align:right;}
.mod_result .select_action select{ width:50px;}
.mod_result .select_action h2.title{ float:left;}
.mod_result .result_box_2{ border-top:1px #989898 solid; margin:20px 0; padding:2px 0;}
.mod_result .result_box_2 .cell_search{ margin-top:0; margin-bottom:30px;}
.mod_result .result_box_2 .cell_search .btn{ float:none;}
.mod_result .result_box_2 .cell_table{ margin:20px 0;}
.mod_result .result_box_2 .cell_table th, .mod_result .result_box_2 .cell_table td{ text-align:left;}

.mod_result_2 .cell_table .col_1{ width:80px;}
.mod_result_2 .cell_table .col_2{ width:80px;}
.mod_result_2 .cell_table .col_3{ width:70px;}
.mod_result_2 .cell_table .col_4{ width:50px;}
.mod_result_2 .cell_table .col_5{ width:90px;}
.mod_result_2 .cell_table .col_6{ width:80px;}
.mod_result_2 .cell_table .col_7{ width:150px;}
.mod_result_2 .cell_table .col_8{ }
.mod_result_2 .info{ word-wrap:break-word; text-align:left;}
.mod_result_3 .cell_table th,.mod_result_3 .cell_table td{ padding:5px 3px; font-size:11px; font-weight:normal;}
.mod_result_3 col{ width:33px;}
.mod_result_3 col.col_2{ width:100px;}
.mod_result_3 .time,.mod_result_3 .ip{ display:block; word-wrap:break-word; width:59px;}
.mod_result_3 .ip{ width:50px;height:20px; line-height:20px; overflow:hidden;}
.mod_result_3 .cell_table td .num{display:block; word-wrap:break-word; width:30px; height:20px; line-height:20px; overflow:hidden;}
.mod_result_3 h3.title{ margin-bottom:20px;}
.mod_result_4 .result_box{ border:none;}

.mod_search_list{ padding:20px 0;}
.mod_search_list h3.title{ font-size:14px; margin-bottom:10px;}
.mod_search_list .r{ float:right; font-size:12px; font-weight:normal;}
.mod_search_list select{ width:60px; font-size:14px;}
.mod_search_list .cell_table{ margin-bottom:10px;}
.mod_search_list .cell_table th{ text-align:center;}

.mod_auto_contect{}
.mod_tree{}
.mod_tree ul.menu{ background:url(../img/tree3.png) 7px top repeat-y; color:#333;}
.mod_tree ul.menu .link{ display:inline-block; width:70px; text-align:center;}
.mod_tree ul.menu .title_1{ background:#ebf6e8; border:1px #b6d8ae solid; padding:5px;}
.mod_tree ul.menu .title_1 strong{ display:inline-block; width:466px;font-size:14px; font-weight:bold;}
.mod_tree ul.menu ul.sub{ margin-left:8px; display:none; margin-bottom:10px;}
.mod_tree ul.menu li.unfold ul.sub{ display:block;} 
.mod_tree ul.menu ul.sub li{background:url(../img/tree5.png) left 13px no-repeat; padding-left:25px; margin-top:10px;}
.mod_tree ul.menu ul.sub li .title_2{ padding:5px;}
.mod_tree ul.menu ul.sub li .title_2 .code{ font-weight:bold; display:inline-block; width:355px;}
.mod_tree ul.menu ul.sub li .title_2 .link2{ display:inline-block; width:139px; text-align:right; float:right;}
.mod_tree ul.menu ul.sub2{background:url(../img/tree4.png) left bottom repeat-y; padding-left:65px; display:none; margin:0 0 0 20px;}
.mod_tree ul.menu ul.sub2 li{ background:none; position:relative; margin-top:0; height:15px; padding-top:14px; padding-left:0;zoom:1;}
.mod_tree ul.menu ul.sub2 li:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.mod_tree ul.menu ul.sub2 li .num{ position:absolute; left:-50px;top:6px;}
.mod_tree ul.menu ul.sub2 li .title_3{ display:inline-block; width:260px;}
.mod_tree ul.menu ul.sub2 li .y_txt{ color:#fe8300; display:inline-block; width:99px; text-align:right; float:right;}
.mod_tree ul.menu ul.sub2 li .fold_link,.mod_tree ul.menu ul.sub2 li .unfold_link{ float:right;background:url(../img/icon2.png) right -634px no-repeat; padding-right:15px;}
.mod_tree ul.menu ul.sub2 li .unfold_link{ color:#333;background:url(../img/icon2.png) right -667px no-repeat;}
.mod_tree ul.menu li.unfold ul.sub2{ display:block;}
.mod_tree ul.menu li li.fold ul.sub2{ display:none;}
.mod_tree ul.menu li li.unfold ul.sub2{ display:block;}
.mod_tree ul.menu li li.unfold ul.sub2 .info_3{display:inline-block; width:440px; text-align:left;}
.mod_tree ul.menu li li.unfold ul.sub2 .info_3 .ipfield{display:inline-block; width:120px; text-align:left; float:left;}
.mod_tree ul.menu li li.unfold ul.sub2 .info_3 .portfield{display:inline-block; width:80px; text-align:left; float:left;}
.mod_tree ul.menu li li.unfold ul.sub2 .link_2{display:inline-block; width:50px; text-align:left; float:right;}
.mod_tree ul.menu li li.unfold ul.sub2 .link_3{display:inline-block; width:30px; text-align:right; float:right;}
.mod_tree ul.menu ul.sub2 li .y_selected{ color:#fe8300; display:inline-block; width:99px; text-align:right; float:right;}

.mod_tree ul.menu li li.fold ul.sub3,.mod_tree ul.menu li li.unfold ul.sub3{ color:#999; background:url(../img/tree6.png) left bottom repeat-y; display:none; }
.mod_tree ul.menu ul.sub3 li a{ color:#999;}
.mod_tree ul.menu ul.sub3 li .y_txt{ color:#999;}
.mod_tree .icon_fold{background:url(../img/select.png) left -128px no-repeat; width:17px; height:15px; display:inline-block; }
.mod_tree ul.menu li.unfold .icon_fold{ background-position:left -96px;}
.mod_tree ul.menu ul.sub  li.unfold .icon_fold{ background-position:left -160px; height:13px;}
.mod_tree ul.menu ul.sub li.fold .icon_fold{ background-position:left -192px; height:13px;}
.mod_tree ul.menu ul.sub li.unfold .icon_fold{background-position:left -160px;}

.mod_auto_contect h3{ font-size:14px; margin:20px 0;}
.mod_auto_contect .cell_table th{ font-weight:normal; text-align:center; padding:5px 3px;}
.mod_auto_contect .cell_table td{ padding:5px 3px;word-wrap:break-word; word-break:break-all;}
.mod_auto_contect .cell_table .col_1{ width:45px;}
.mod_auto_contect .cell_table .col_2{ width:40px;}
.mod_auto_contect .cell_table .col_3{ width:105px;}
.mod_auto_contect .cell_table .col_4{ width:65px;}
.mod_auto_contect .info_box{zoom:1;}
.mod_auto_contect .info_box:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.mod_auto_contect .info_box .tips_txt{ margin-bottom:20px;}
.mod_auto_contect .info_box .tree_box{ width:345px; float:left;}
.mod_auto_contect .info_box .step_box{ width:175px; float:right; background:#f9f9f9; border:1px #dbdbdb solid; padding:20px 30px;}
.mod_auto_contect .info_box .step_box .step{ background:url(../img/step2.png) no-repeat; height:332px;}
.mod_auto_contect .info_box .mod_tree ul.menu .title_1 strong,
.mod_auto_contect .info_box .mod_tree ul.menu ul.sub2 li .title_3,
.mod_auto_contect .info_box .mod_tree ul.menu ul.sub li .title_2 .code{ width:auto;}
.mod_auto_contect .intro_box{ line-height:2;}
.mod_auto_contect .intro_box h4{}
.mod_auto_contect .intro_box .info{ margin:0 0 20px 10px;}

.mod_receipt .cell_form{ margin-top:20px;}

.return_btn{ background:url(../img/return.png) no-repeat; width:24px; height:108px; display:block; position:fixed; bottom:30px; right:1%; text-align:center; margin-left:485px; _position:absolute; _right:5px; _bottom:auto; _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight - this.clientHeight):document.body.scrollTop+(document.body.clientHeight - this.clientHeight));}


/*popup*/
#maskiframe{position:fixed;z-index:100;top:0px;left:0px;height:100%;width:100%;background-color:#000;-moz-opacity:0.65;opacity:.65;filter:alpha(opacity=65);_position:absolute;_height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
#mask{position:fixed;z-index:100;top:0px;left:0px;height:100%;width:100%;background-color:#000;-moz-opacity:0.65;opacity:.65;filter:alpha(opacity=65);_position:absolute;_height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');}
.popup{ position:absolute; z-index:9999; left:50%; top:10%; }
.pop_container{ position:relative; background:#fff; border:1px #cdcdcd solid; color:#000;}
.pop_container h2.title{ background:url(../img/titlebg.png) repeat-x; height:30px; line-height:30px; padding:0 10px; border-bottom:1px #cdcdcd solid; margin:1px; font-size:14px;}
.pop_container .close{ position:absolute;background:url(../img/icon.png) left -512px no-repeat; display:block; width:18px; height:18px; display:block; right:10px; top:5px;}
.pop_content{ padding:20px;}
.pop_content .cell_form .col_1{ width:150px;}
.pop_container .cell_form{ padding:0;}
.pop_container .cell_form input.text,.pop_container .cell_form textarea.text{ height: 26px;}
.pop_container .cell_form textarea.text{ height:100px; width:300px;overflow:auto;}
.pop_container .cell_form .tips { padding:0;}
.pop_container .cell_form td{ padding:5px;vertical-align:top;}
.pop_container .cell_form select{ width:178px; height:26px; border:1px solid #AEAEAE;}
.pop_container .cell_form .btn_box {margin:10px 0 0 155px;}
.pop_content .pay_box{}
.pop_content .pay_box .tips{ font-size:14px; padding:15px 0; color:#333; border-bottom:1px #c7c7c7 solid; text-align:center; font-weight:bold;}
.pop_content .pay_box .notice{ padding:15px 0; line-height:1.8;}
.pop_content .pay_box .btn_box{ text-align:center;}
.pop_content .pay_box .btn_box a{ margin:0 10px;}
.pop_content .code_box{ padding:0 20px;}
.pop_content .code_box .item{ margin-bottom:20px;}
.pop_content .code_box label{ display:inline-block; width:70px; text-align:right; font-size:14px; font-weight:bold;}
.pop_content .code_box .code{ font-size:14px;}
.pop_content .code_box .link{ margin-left:20px;}
.pop_content .errortips{font-size:20px;text-align: center;color: saddlebrown;font-family: icon;}

.pop_content .play_box{ padding:0 20px; position:relative; min-height:644px;_height:644px;}
.pop_content .play_box .step_1,.pop_content .play_box .step_2,
.pop_content .play_box .step_3,.pop_content .play_box .step_4,
.pop_content .play_box .step_5{ background:url(../img/step.png) 47px top no-repeat; height:25px; position:relative;}
.pop_content .play_box .step_2{ background-position:60px -32px;}
.pop_content .play_box .step_3{ background-position:53px -64px; height:68px;}
.pop_content .play_box .step_4{ background-position:47px -160px;}
.pop_content .play_box .step_5{ background-position:right -192px; height:68px;}
.pop_content .play_box .list{zoom:1; margin:10px 0;}
.pop_content .play_box .list:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.pop_content .play_box .list li{ width:165px; height:260px;  float:left;position:relative; margin:0 10px;_margin:0 8px; zoom:1;}
.pop_content .play_box .list li .pic{ position:absolute; left:0; top:0; z-index:1;zoom:1;}
.pop_content .play_box .list li .pic img{ width:165px;}
.pop_content .play_box .list li .pic_big{ z-index:4;zoom:1;}
.pop_content .play_box .list li .pic_big img{ width:274px;}
.pop_content .play_box .list li .smallcur{right:-108px; bottom:-170px; }
.pop_content .play_box .list li.last .pic_big{ left:-110px;}
.pop_content .play_box .list li.last .smallcur{ right:0;}
.pop_content .play_box .list_2 li{ margin:0 40px;_margin:0 30px;}
.pop_content .play_box .list_3{ margin-left:245px;}
.pop_content .play_box .list_3 li .pic_big,.pop_content .play_box .list_4 li .pic_big{ left:-109px;top:-171px;}
.pop_content .play_box .list_3 li .smallcur,.pop_content .play_box .list_4 li .smallcur{ right:0; bottom:0;}
.pop_content .play_box .list_4{ margin-left:60px;}
.pop_content .play_box .list_4 li{ margin-left:50px;_margin-left:40px;}
.pop_content .play_box .layer{width:780px; height:644px; position:absolute; z-index:3; background:#fff; -moz-opacity:.40;filter:alpha(opacity=40);opacity:0.4; left:0; top:0; z-index:3; display:none;}

.pop_container .creat_info_box{ border-top:1px #d1d1d1 solid; padding:20px 0; line-height:2;}
.pop_container .creat_model_box{zoom:1;}
.pop_container .creat_model_box:after{clear:both; display:block; height:0; content:""; visibility:hidden;}
.pop_container .creat_model_box .item{ margin-bottom:20px;}
.pop_container .creat_model_box .item label{ display:inline-block; width:100px; text-align:right;}
.pop_container .creat_model .item label{ vertical-align:top;}
.pop_container .creat_model_box .item textarea.text{ width:218px; height:165px; overflow:auto;}
.pop_container .creat_model_box .item select{ width:100px; border:1px solid #B2B2B2; height:23px; line-height:23px; vertical-align:middle;}
.pop_container .creat_model{ width:330px; float:left;}
.pop_container .creat_model .num_box{ margin-left:103px; height:30px;}
.pop_container .creat_model .num_box .txt{ float:right;}
.pop_container .creat_model .num_box .txt input.text{ width:20px; padding:0 3px;}
.pop_container .creat_model .num_box .num{ line-height:16px;}
.pop_container .creat_model_info{ width:315px; float:right; line-height:1.8;}
.pop_container .creat_model_info .tips{ color:#d60303;}
.pop_container .submit_box{ text-align:center; margin-top:20px;}
.pop_container .submit_box .link{ margin-left:20px;}
.pop_container .edit_box .actions .num{ margin-right:20px;}
.pop_container .edit_box .actions select{ width:100px; border:1px #b2b2b2 solid; margin-right:20px; height:23px; line-height:23px;}
.pop_container .edit_box .option{ margin-right:5px;}
.pop_container .edit_box .option input,.pop_container .edit_box .option label{ vertical-align:middle;}
.pop_container .edit_box .details{ background:#f6fff1; padding:5px 10px;zoom:1; margin:20px 0;}
.pop_container .edit_box .details:after{ clear:both; display:block; height:0; content:""; visibility:hidden;}
.pop_container .edit_box .details .item{ width:168px; height:20px; line-height:20px; margin:5px 5px 0 0; display:block; float:left;}
.pop_container .edit_box .details .last{ width:160px;}
.pop_container .edit_box .ex_box label{  vertical-align:top;}
.pop_container .edit_box .ex_box textarea.text{width:600px;border:1px #b2b2b2 solid; padding:3px; height:20px; overflow:auto;}
.pop_container .edit_box .check_txt{ padding-left:0;}
.pop_container .edit_box_2 .actions input.text{ margin-right:59px;}
.pop_container .edit_box_2 .actions .num{ display:inline-block; width:100px; margin-right:10px;}
.pop_container .edit_box_2 .option{ display:inline-block; margin-top:10px;}
.pop_container .edit_box_2 .actions .option input.text{ width:130px; margin-right:58px;}
.pop_container .edit_box_2 input.text{ color:#999;}
.pop_container .test_box{ margin-bottom:20px;}
.pop_container .test_box label{ display:inline-block; width:50px; vertical-align:top;}
.pop_container .test_box textarea.text{ width:540px; height:80px; overflow:auto;}
.pop_container .test_box .tips{ color:#d60303; margin:10px 0 0 50px;}
.pop_container .faq_box{ line-height:1.8;}
.pop_container .faq_box .title{ font-size:14px; font-weight:bold;}
.pop_container .faq_box .info{ margin:5px 0 20px 20px;}
.pop_container .remind_box .cell_form .col_2{ width:260px;}
.pop_container .remind_box .cell_form img{ float:left; margin-right:5px;}
.pop_container .key_box{ min-height:150px;_height:150px;}








.noinputborder{background-color: transparent;border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;}


.pop_container .pop_content .loading{height: 400px;width: 700px; text-align:center;}
.pop_container .pop_content .loaderror{height: 400px;width: 700px; text-align:center;}
.pop_container .pop_content .loadingpage{margin-top: 20%;}
.pop_container .pop_content .linkcontainer {font-family: "新宋体";font-size: 14px; height: 400px;width: 700px;float: center;}
.pop_container .pop_content .linkcontainer .source {line-height: 20px;padding: 5px;height: 300px;width: 300px;padding: 5px;float:left;/*border: thin solid #000000;*/text-align:left;overflow:hidden;}
.pop_container .pop_content .linkcontainer .source .tips{overflow:hidden;font-size: 14px;background-color: #EEEEEE;height: 30px;border: thin solid #000000;}
.pop_container .pop_content .linkcontainer .source .emaillist{overflow:auto;height: 270px;border: thin solid #000000;}
.pop_container .pop_content ul{list-style: none;border: medium none;padding:10px;margin:10px;}

.pop_container .pop_content .linkcontainer .dest {font-style: normal;line-height: 20px;padding: 5px;height: 300px;width: 300px;overflow:auto;padding: 5px;float:right;/*border: thin solid #000000;*/text-align:left;}
.pop_container .pop_content .linkcontainer .dest .emaillist{overflow:auto;height: 300px;border: thin solid #000000;}
.pop_container .pop_content .linkcontainer .dest ul li{background: url("/img/icon_delete_rollover_12x75.png") no-repeat scroll 0 0 transparent;color: #666666;margin-bottom: 2px;padding-left: 17px;text-decoration: none;}
.pop_container .pop_content .linkcontainer .dest ul li.hover {background-position: 0 -50px;cursor: pointer;}
.pop_container .pop_content .linkcontainer .bottoms{overflow:hidden;height: 50px;text-align:center;margin-top:13%;/*border: thin solid #000000;*/}

.pop_container .pop_content .linkcontainer .center{height: 250px;width: 50px; /*border: thin solid #000000;*/ float: center;}


.pop_container .pop_content .center{width:820px;margin:10px auto;overflow:hidden;background-color: #FFFFFF;font-size: 13px;}
.pop_container .pop_content .title{background-color:#DCF1F6;font-weight:bold;font-size:15px;text-indent:20px;line-height:30px;border:1px solid #aaa;overflow:hidden;margin-right: 20px;margin-left: 20px;}
/*联系方式*/
.pop_container .pop_content .lianxi{overflow:hidden;margin-top:-25px;}

.pop_container .pop_content .left{width:350px;float:left;overflow:hidden;margin-left:30px;}
.pop_container .pop_content .left_title{ font-weight:bold;line-height:30px;}
.pop_container .pop_content .left_content{padding:15px;overflow:hidden; background-color:#F3F1F2;}
.pop_container .pop_content .left_content ul{list-style:none; overflow:hidden;width:100%;}
.pop_container .pop_content .left_content li{width:100px;height:30px;float:left;overflow:hidden;margin:auto 5px 5px auto;}
.pop_container .pop_content .left_content li img{border:1px solid #ddd;}
.pop_container .pop_content .right{width:400px;float:left;overflow:hidden;margin-left:10px;}



.mod_tree ul.menu2{color:#333;border: 1px solid #00A100;}
.mod_tree ul.menu2 .logcontent{color:#333; border: 1px solid #00A100;}
.mod_tree ul.menu2 .logcontent .title_1{ background:#ebf6e8; padding:5px;font-size:14px;font-weight: bold;height:20px;}
.mod_tree ul.menu2 .logcontent .title_1 .field{display:inline-block; width:80px; text-align:left; float:left;}
.mod_tree ul.menu2 .logcontent .title_1 .fieldtime{display:inline-block; width:190px; text-align:left; float:left;}
.mod_tree ul.menu2 .logcontent .title_1 .fieldip{display:inline-block; width:130px; text-align:left; float:left;}
.mod_tree ul.menu2 .logcontent .title_2{padding:10px;font-size:14px;text-align: left;margin-top:-9px}
.mod_tree ul.menu2 .logcontent .title_2 .field{}

.mod_tree .errortips{width:700px;height:300px;font-size:30px;padding:5px;text-align:center;color: saddlebrown;font-family: icon;}



.msgitem{}
.menu .title_1 .shortitem{display:inline-block; width:55px;font-size:12px;border-right: 1px solid #FF14E3;text-align:center;}
.menu .title_1 .middleitem{display:inline-block; width:100px;font-size:12px;border-right: 1px solid #FF14E3;text-align:center;}
.menu .title_1 .largeitem{display:inline-block; width:150px;font-size:12px;border-right: 1px solid #FF14E3;text-align:center;}
.menu .title_1 .operate{text-align:right;width:50px; display: inline-block;float: right;margin-right:10px;}

.menu .title_2 .shortitem{display:inline-block; width:55px;font-size:12px;border-right: 1px solid #636DEF;text-align:center;}
.menu .title_2 .middleitem{display:inline-block; width:100px;font-size:12px;border-right: 1px solid #636DEF;text-align:center;}
.menu .title_2 .largeitem{display:inline-block; width:600px;font-size:12px;border-right: 1px solid #636DEF;text-align:center;}
.menu .title_2 .largeitem .textcontent{border: medium none;height: 15px; width: 582px;overflow: hidden;}
.menu .title_2 .operate{text-align:right;width:50px; display: inline-block;float: right;margin-right:10px;}

.submenu{padding:1% 15%; font-size:18px;}
.submenu .subother_{float:left;padding:0px 8px;}
.submenu .subcurrent_{font-weight: bold;float:left;margin-left:15px;padding:0px 8px;border:1px solid #aaa;border-bottom:0px; background-color:#FFF;}
.submenu .empty{border-bottom: 1px solid #aaa;margin: 0% -22%;}

.cell_search .item3{ display:inline-block; width:400px; position:relative;}
.cell_search .item3 label{display:inline-block; width:110px; text-align:right; vertical-align:middle;}
.cell_search .item3 input{height: 20px;width: 160px;}

.cell_search .item5{ display:inline-block; width:240px; }
.cell_search .item5 label{display:inline-block; width:50px; text-align:right; vertical-align:middle;}
.cell_search .item5 input{height: 20px;width: 150px;}

.cell_search2 {}
.cell_search2 .item4{ display:inline-block; width:190px; position:relative; height: 50px; overflow:auto;padding: 0 10px;}
.cell_search2 .item4 .button{display:inline-block; border-radius: 6px; width:190px; height:40px; background-color: #DAEEEE;
    border:1px;border-bottom-style:none;border-top-style:none;border-left-style:none;border-right-style:none;}
.cell_search2 .item4 .button:hover{ background-color: #B2DCE9; cursor:pointer;}
.cell_search2 .item4 .current{font-weight: 900; background-color: #B2DCE9;}

input.readonly { border: none; padding: 0; background: transparent;width: 50px;text-align: center;}